<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>adaStartup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F61CAC2DCEB93C00A69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F61CBA2DCEB93D00A69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F61CC42DCEB93D00A69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
